body {
    text-align: center;
}
.header {
    width: 90%;
    height: 240px;
    background-color: #fff794;
    margin-bottom: 2%;
    margin-top: 2%;
    display: inline-block;
}
.menu {
    display:inline-block;
    width: 25%;
    height: 500px;
    background-color: #94ff97;
}
.content {
    margin-left: 2%;
    display: inline-block;
    width: 70%;
    height: 500px;
    background-color: #ab94ff;
}
