body {
    text-align: center;
}
.header {
    width: 1300px;
    height: 240px;
    background-color: #fff794;
    margin-bottom: 20px;
    margin-top: 20px;
    display: inline-block;
}
.menu {
    display:inline-block;
    width: 370px;
    height: 500px;
    background-color: #94ff97;
}
.content {
    margin-left: 20px;
    display: inline-block;
    width: 910px;
    height: 500px;
    background-color: #ab94ff;
}
